/* Estilos para el contenedor principal */
.absolute-container {
  position: absolute;
  inset: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  background-color: white;
  background-image: 
      linear-gradient(to right, #f0f0f0 1px, transparent 1px),
      linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
  background-size: 6rem 4rem; /* Tamaño del patrón */
}

/* Estilos para el elemento dentro del contenedor */
.absolute-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  background-image: radial-gradient(circle 500px at 50% 200px, #C9EBFF, transparent);
}

.absolute-tables {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  background-image: radial-gradient(circle 700px at 100% 200px, #C9EBFF, transparent);
}
